.footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: blueviolet;
    text-align: center;
    box-shadow: 2px 1px 2px 1px #969696;
    color: white;

}
.footer h5{
    font-size: 12px;
    
}
.date{
    color: red
}


